<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Students</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z1">

                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                  <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>
              
                <ng-container matColumnDef="code">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Code </th>
                    <td mat-cell *matCellDef="let element"> {{element.code}} </td>
                  </ng-container>
  
                <ng-container matColumnDef="firstName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>first Name</th>
                  <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
                </ng-container>
              
                
                <ng-container matColumnDef="lastName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>last Name</th>
                    <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
                  </ng-container>

                <ng-container matColumnDef="programId">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Program  ID</th>
                  <td mat-cell *matCellDef="let element"> {{element.programId}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
                    <td mat-cell *matCellDef="let element"><button mat-raised-button color="primary" (click)="getStudentPayments(element)">Payments</button></td>
                </ng-container>
  

            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>

              <mat-paginator [length]="100"
              [pageSize]="5"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
              </mat-paginator>
        </mat-card-content>
    </mat-card>
</div>